*{
    margin:0;
    padding:0 auto;
}

*:focus{
    outline:none;
}

#headerBar{
    background-color: #122b40;
    height : 5em;
}

body{
    background-color: lightgrey;
}
#headerBar span{
    display: inline-block;
    color : #ffffff;
    line-height: 2.5em;
    font-size: 2em;
}

#rubykek{
    text-align: center;
}

#table{
    margin-top: 2em;
}

#formtitle {
    text-align: center;
}

#form{
    margin-top: 2em;
}

.inputs{
    height: 2.5em;
    border: none;
    margin-bottom: 2em;
}

.icon{
    display:inline-block;
    line-height: 2.5em;
    background-color:white;
    color:black;
    height: 2.5em;
    text-align: center;
    vertical-align: bottom;
}

#description{
    height: 7em;
}

#submit{
    border:1px solid black;

}

#elementContainer{
    margin-top: 2em;
}

#commentTable{
    margin-top: 2em;
}

#concertize{
    text-decoration: none;
    color: white;
    font-size: 2em;
    line-height: 2.5em;
}