<div class="container">
  <div class="wholeContainer">
    <% @concerts.each do |concert| %>
        <div  class="pCards col-md-3">
          <div class="col-md-12 pUnderCards">
            <p>Titre : <%= concert.name %></p>
            <p>Style : <%= concert.style %></p>
            <p>Prix : <%= concert.price %></p>
            <p><%= link_to "Details", concert_path(concert.id) %></p>
          </div>
        </div>
        <div class="col-md-1 sperationDiv">
        </div>
    <% end %>
  </div>
</div>

<a class="plusIcon" href="/concerts/new"><i class="fa fa-plus" aria-hidden="true"></i></a>