<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag 'bootstrap.css' %>
    <%= stylesheet_link_tag 'styles.css' %>
    <!-- Latest compiled and minified CSS -->
  </head>

  <body>
  <script src="https://use.fontawesome.com/fd0b0a9b98.js"></script>
    <header>
      <div class="col-md-12" id="headerBar">
        <%= link_to 'Concertize', {:controller => 'concerts', :action => 'index'}, :class => "col-md-1", id: "concertize" %>
        <span class="col-md-3 col-md-offset-4">RubyKeK</span>
      </div>
    </header>
    <%= yield %>
    <footer>

    </footer>
  </body>
</html>
